src/app/components/header/header.component.html
<div id="header-element"><div class="header-element"><div class="right p-click"><label>PBOX Missions App</label></div><div class="left p-click" (click)="logout()"><label class="pl-1" *ngIf="isAuthenticated">Hi {{ name }},</label><label class="pl-1" *ngIf="isAuthenticated">Click To Logout</label></div></div></div>

src/app/components/header/header.component.pug
#header-element
 .header-element
    .right.p-click
      label PBOX Missions App
    .left.p-click((click)="logout()")
      label.pl-1(*ngIf="isAuthenticated") Hi {{ name }},
      label.pl-1(*ngIf="isAuthenticated" ) Click To Logout
