src/app/pages/missions/missions.component.html
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple"><p style="font-size: 20px; color: white">Loading...</p></ngx-spinner><div class="login-container" *ngIf="missionFormShow"><div class="card shadow-grey"><div class="card-header"><div class="row d-flex justify-content-between"><div class="m"><h5 class="ml-1">{{ currentAction }} mission</h5></div><div class="mr-2 p-click"><label class="p-click" (click)="toggleMissionForm(false)">Close&nbsp;<i class="fas fa-minus"></i></label></div></div></div><div class="card-body"><div class="card-title"><form [formGroup]="form"><div class="row"><div class="col-sm-12 col-md-4 mt-3 form-group"><label>Key</label><div class="d-block"><input class="form-control" formControlName="key" type="text" placeholder="Key" [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.key.errors }"/></div><label class="invalid-feedback d-block" *ngIf="!!f.key.errors &amp;&amp; submitted &amp;&amp; f.key.errors.required">Key is required!</label></div></div><div class="row"><div class="col-sm-12 col-md-8 mt-3 form-group"><label>Value (Must be a valid JSON)</label><div class="d-block"><textarea class="form-control" formControlName="value" type="text" placeholder="E.g paybox" [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.key.errors }"></textarea></div><label class="invalid-feedback d-block" *ngIf="!!f.key.errors &amp;&amp; submitted &amp;&amp; f.key.errors.required">Value is required!</label></div><div class="col-sm-12 col-md-4"><div class="text-center"><pre>Value is {{ checkJson ? 'Valid' : 'Invalid' }}</pre></div></div></div><div class="row"><div class="col-12"><button class="btn btn-primary form-btn" [type]="!this.checkJson &amp;&amp; !f.key.errors ? '' : 'submit'" [disabled]="!this.checkJson &amp;&amp; !f.key.errors" (click)="currentAction === 'Create' ? addMission() : editMission()">Submit</button></div></div></form></div></div></div></div><div class="login-container"><div class="card shadow-grey"><div class="card-header"><div class="row d-flex justify-content-between"><div class="m"><h5 class="ml-1">Missions</h5></div><div class="mr-2 p-click"><label class="p-click" (click)="action('Create')">Add mission&nbsp;<i class="fas fa-plus"></i></label></div></div></div><div class="card-body"><div class="card-title"></div><div class="mb-3 d-flex justify-content-between"><div><ngb-pagination [(page)]="paginate.page" [pageSize]="paginate.limit" [collectionSize]="count" (pageChange)="getList()"></ngb-pagination></div><div><label>Total - {{ count }}</label></div><div class="d-flex justify-content-between"><label style="width:140px">Per Page:</label><select class="form-control" [(ngModel)]="paginate.limit" (ngModelChange)="getList()"><option [value]="5">5</option><option [value]="10">10</option><option [value]="20">20</option><option [value]="50">50</option><option [value]="100">100</option></select></div></div><table class="table-striped w-100"><thead><tr><th scope="col">Key</th><th scope="col">Value (JSON)</th><th scope="col" style="width:100px">Actions</th></tr></thead><tbody *ngIf="list.length == 0"><tr><td colspan="3"><p class="m-auto text-center">No records found...</p></td></tr></tbody><tbody><tr *ngFor="let r of list"><td class="small-pad"><label>{{ r.key }}</label></td><td class="small-pad"><label>{{ r.value | json }}</label></td><td class="small-pad"><label (click)="action('Update', r)"><i class="fas fa-edit m-1 p-click" placement="right" ngbTooltip="Edit mission"></i></label><label (click)="action('Delete', r)"><i class="fas fa-trash m-1 p-click" placement="right" ngbTooltip="Delete mission"></i></label><label><i class="far fa-arrow-alt-circle-up m-1 p-click" placement="right" ngbTooltip="Open mission in a modal"></i></label></td></tr></tbody></table><div class="mt-3 d-flex justify-content-between"><div><ngb-pagination [(page)]="paginate.page" [pageSize]="paginate.limit" [collectionSize]="count" (pageChange)="getList()"></ngb-pagination></div><div><label>Total - {{ count }}</label></div><div class="d-flex justify-content-between"><label style="width:140px">Per Page:</label><select class="form-control" [(ngModel)]="paginate.limit" (ngModelChange)="getList()"><option [value]="5">5</option><option [value]="10">10</option><option [value]="20">20</option><option [value]="50">50</option><option [value]="100">100</option></select></div></div></div></div></div>

src/app/pages/missions/missions.component.pug
ngx-spinner( bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple")
  p(style="font-size: 20px; color: white") Loading...
.login-container(*ngIf="missionFormShow")
  .card.shadow-grey
    .card-header
      .row.d-flex.justify-content-between
        div.m
          h5.ml-1 {{ currentAction }} mission
        div.mr-2.p-click
          label.p-click((click)="toggleMissionForm(false)") Close&nbsp;
            i.fas.fa-minus

    .card-body
      .card-title
        form([formGroup]="form")
          .row
            .col-sm-12.col-md-4.mt-3.form-group
              label Key
              .d-block
                input.form-control(formControlName="key", type='text', placeholder="Key", [ngClass]="{ 'is-invalid': submitted && f.key.errors }")
              label.invalid-feedback.d-block(*ngIf="!!f.key.errors && submitted && f.key.errors.required") Key is required!
          .row
            .col-sm-12.col-md-8.mt-3.form-group
              label Value (Must be a valid JSON)
              .d-block
                textarea.form-control(formControlName="value", type='text', placeholder="E.g paybox", [ngClass]="{ 'is-invalid': submitted && f.key.errors }")
              label.invalid-feedback.d-block(*ngIf="!!f.key.errors && submitted && f.key.errors.required") Value is required!
            .col-sm-12.col-md-4
              .text-center
                pre Value is {{ checkJson ? 'Valid' : 'Invalid' }}
          .row
            .col-12
              button.btn.btn-primary.form-btn([type]="!this.checkJson && !f.key.errors ? '' : 'submit'", [disabled]="!this.checkJson && !f.key.errors", (click)="currentAction === 'Create' ? addMission() : editMission()") Submit

.login-container()
  .card.shadow-grey
    .card-header
      .row.d-flex.justify-content-between
        div.m
          h5.ml-1 Missions
        div.mr-2.p-click
          label.p-click((click)="action('Create')") Add mission&nbsp;
            i.fas.fa-plus
    .card-body
      .card-title
      .mb-3.d-flex.justify-content-between
        div
          ngb-pagination([(page)]="paginate.page", [pageSize]="paginate.limit", [collectionSize]="count", (pageChange)="getList()")
        div
          label Total - {{ count }}
        div.d-flex.justify-content-between
          label(style="width:140px") Per Page:
          select.form-control([(ngModel)]="paginate.limit", (ngModelChange)="getList()")
            option([value]="5") 5
            option([value]="10") 10
            option([value]="20") 20
            option([value]="50") 50
            option([value]="100") 100
      table.table-striped.w-100()
        thead
          tr
            th(scope="col") Key
            th(scope="col") Value (JSON)
            th(scope="col", style="width:100px") Actions
        tbody(*ngIf="list.length == 0")
          tr
            td(colspan="3")
              p.m-auto.text-center No records found...
        tbody()
          tr(*ngFor="let r of list")
            td.small-pad
              label {{ r.key }}
            td.small-pad
              label {{ r.value | json }}
            td.small-pad
              label((click)="action('Update', r)")
                i.fas.fa-edit.m-1.p-click(placement="right", ngbTooltip="Edit mission")
              label((click)="action('Delete', r)")
                i.fas.fa-trash.m-1.p-click(placement="right", ngbTooltip="Delete mission")
              label
                i.far.fa-arrow-alt-circle-up.m-1.p-click(placement="right", ngbTooltip="Open mission in a modal")
      .mt-3.d-flex.justify-content-between
        div
          ngb-pagination([(page)]="paginate.page", [pageSize]="paginate.limit", [collectionSize]="count", (pageChange)="getList()")
        div
          label Total - {{ count }}
        div.d-flex.justify-content-between
          label(style="width:140px") Per Page:
          select.form-control([(ngModel)]="paginate.limit", (ngModelChange)="getList()")
            option([value]="5") 5
            option([value]="10") 10
            option([value]="20") 20
            option([value]="50") 50
            option([value]="100") 100
