src/app/form/registration/registration.component.pug
.container.gap-t25
  .card
    .card-header
    .card-body
      .card-title
        h5 Registration Panel
      .card-text
        | {{ f.first_name.errors | json }}
        | {{ f.last_name.errors | json }}
        | {{ f.email.errors | json }}
        | {{ f.password.errors | json}}
        form([formGroup]="form", (ngSubmit)="submit()")
          .col-12.mt-3.form-group
            label First Name:
            .d-block
              input.form-control(formControlName="first_name", type='text', placeholder="First Name", [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }")
            label.invalid-feedback.d-block(*ngIf="!!f.first_name.errors && submitted && f.first_name.errors.required") First Name is required!
          .col-12.mt-3.form-group
            label Last Name:
            .d-block
              input.form-control(formControlName="last_name", type='text', placeholder="Last Name", [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }")
            label.invalid-feedback.d-block(*ngIf="!!f.last_name.errors && submitted && f.last_name.errors.required") Last Name is required!
          .col-12.mt-3.form-group
            label Email:
            .d-block
              input.form-control(formControlName="email", type='text', placeholder="yourmail@domain.com", [ngClass]="{ 'is-invalid': submitted && f.email.errors }")
            label.invalid-feedback.d-block(*ngIf="!!f.email.errors && submitted && f.email.errors.required") Email is required!
          .col-12.mt-3.form-group
            label Password:
            .d-block
              input.form-control(formControlName="password", type='password', placeholder="Password", [ngClass]="{ 'is-invalid': submitted && f.password.errors }")
            label.invalid-feedback.d-block(*ngIf="!!f.password.errors && submitted && f.password.errors.required") Password is required!
          .col-12.mt-3
            .d-flex.justify-content-between
              a.link() Forgot password
              a.link([routerLink]="['/login']") Sign-In instead
          .col-12.mt-3.mb-3
            button.btn.btn-primary.form-btn(type="submit") Sign-In

src/app/form/registration/registration.component.html
<div class="container gap-t25"><div class="card"><div class="card-header"></div><div class="card-body"><div class="card-title"><h5>Registration Panel</h5></div><div class="card-text">{{ f.first_name.errors | json }}
{{ f.last_name.errors | json }}
{{ f.email.errors | json }}
{{ f.password.errors | json}}<form [formGroup]="form" (ngSubmit)="submit()"><div class="col-12 mt-3 form-group"><label>First Name:</label><div class="d-block"><input class="form-control" formControlName="first_name" type="text" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.first_name.errors }"/></div><label class="invalid-feedback d-block" *ngIf="!!f.first_name.errors &amp;&amp; submitted &amp;&amp; f.first_name.errors.required">First Name is required!</label></div><div class="col-12 mt-3 form-group"><label>Last Name:</label><div class="d-block"><input class="form-control" formControlName="last_name" type="text" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.last_name.errors }"/></div><label class="invalid-feedback d-block" *ngIf="!!f.last_name.errors &amp;&amp; submitted &amp;&amp; f.last_name.errors.required">Last Name is required!</label></div><div class="col-12 mt-3 form-group"><label>Email:</label><div class="d-block"><input class="form-control" formControlName="email" type="text" placeholder="yourmail@domain.com" [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.email.errors }"/></div><label class="invalid-feedback d-block" *ngIf="!!f.email.errors &amp;&amp; submitted &amp;&amp; f.email.errors.required">Email is required!</label></div><div class="col-12 mt-3 form-group"><label>Password:</label><div class="d-block"><input class="form-control" formControlName="password" type="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.password.errors }"/></div><label class="invalid-feedback d-block" *ngIf="!!f.password.errors &amp;&amp; submitted &amp;&amp; f.password.errors.required">Password is required!</label></div><div class="col-12 mt-3"><div class="d-flex justify-content-between"><a class="link">Forgot password</a><a class="link" [routerLink]="['/login']">Sign-In instead</a></div></div><div class="col-12 mt-3 mb-3"><button class="btn btn-primary form-btn" type="submit">Sign-In</button></div></form></div></div></div></div>
