src/app/form/login/login.component.pug
.login-container.gap-t25
    .card.shadow-grey
      .card-header
        h5 Login Panel
      .card-body
        .card-title
          label Create or login using your social account
        .card-text

          form([formGroup]="form", (ngSubmit)="submit()")
            .col-12.mt-3.form-group
              .d-block
                input.form-control(formControlName="username", type='text', placeholder="E.g paybox", [ngClass]="{ 'is-invalid': submitted && f.username.errors }")
              label.invalid-feedback.d-block(*ngIf="!!f.username.errors && submitted && f.username.errors.required") Email is required!

            .col-12.mt-3.form-group
              .d-block
                input.form-control(formControlName="password", type='password', placeholder="Password", [ngClass]="{ 'is-invalid': submitted && f.password.errors }")
              label.invalid-feedback.d-block(*ngIf="!!f.password.errors && submitted && f.password.errors.required") Password is required!

            .col-12.mt-3.mb-3
              button.btn.btn-primary.form-btn(type="submit") Sign-In

src/app/form/login/login.component.html
<div class="login-container gap-t25"><div class="card shadow-grey"><div class="card-header"><h5>Login Panel</h5></div><div class="card-body"><div class="card-title"><label>Create or login using your social account</label></div><div class="card-text"><form [formGroup]="form" (ngSubmit)="submit()"><div class="col-12 mt-3 form-group"><div class="d-block"><input class="form-control" formControlName="username" type="text" placeholder="E.g paybox" [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.username.errors }"/></div><label class="invalid-feedback d-block" *ngIf="!!f.username.errors &amp;&amp; submitted &amp;&amp; f.username.errors.required">Email is required!</label></div><div class="col-12 mt-3 form-group"><div class="d-block"><input class="form-control" formControlName="password" type="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted &amp;&amp; f.password.errors }"/></div><label class="invalid-feedback d-block" *ngIf="!!f.password.errors &amp;&amp; submitted &amp;&amp; f.password.errors.required">Password is required!</label></div><div class="col-12 mt-3 mb-3"><button class="btn btn-primary form-btn" type="submit">Sign-In</button></div></form></div></div></div></div>
